body{
    background: linear-gradient(90deg,#00ff9d, #00ffdd,#0099ff);
    background-size: cover;
}

#register_form{
    background: azure;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    height: 250px;
    margin-left: 40%;
    margin-top: 15%;
    font-family: Arial;
  }
  
  h1{
    border-bottom: 1px solid silver;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #log_in{
    font-family: system-ui;
    margin-top: 5px;
    
  }
  #login{
      color: blue;
      text-decoration: none;
      font-family: cursive;
      
  }
  #login:hover{
      -webkit-text-stroke: 0.3px;
      cursor: pointer;
  }
  
  #submit:hover{
      cursor: pointer;
  }
  
  #submit:active{
      cursor: progress;
  }
  
  #submit{
      margin-top: 10px;
      color: #0099ff;
      font-family: cursive;
      background-color: white;
      border-radius: 5px;
      border-width: 1px;
      
  }

 
  #button:active{
  
    color: gold;
    cursor: progress;
  }

  #button{
    font-size: xx-large;
    color: white;
    text-decoration: underline black;
    font-family: Arial, Helvetica, sans-serif;
  }
  #signIn{
    text-decoration: none;
    font-family: cursive;
    color: #0099ff;
  }