body{

        
        background: linear-gradient(90deg,#00f7d6, #038aff);
        background-size: cover;
        
}

#sidebar{
        
        position: absolute;
        width: 280px;
        height: 93%;
        background: linear-gradient(90deg, black, rgb(0, 255, 213));
        left: -280px;
        border-radius: 10px;
        transition: 1.5s;
        
}
#sidebar.active{
        left: 0;
}

#sidebar ul li{
        
        list-style: none;
        font-weight: bold;
        font-size: x-large;
        font-family: monospace;
        line-height: 90px;

}

#sidebar a{
        color: white;
        text-decoration: none;
}

#sidebar .toggle-btn{
        position: absolute;
        top: 30px;
        left: 300px;
}

#sidebar .toggle-btn:hover{
        cursor: pointer;
}

.toggle-btn span{

        width: 35px;
        height: 5px;
        background: black;
        display: block;
        margin-top: 5px;


}

#register:hover {
        cursor: pointer;

}

#register:active{
        cursor: progress;
        transform: translateY(5px);
        box-shadow: 0px 5px 0px 0px rgb(180, 184, 185);
}

#register {
        border: none;
        text-align: center;
        color: royalblue;
        background-color: rgb(36, 218, 250);
        border-radius: 15px;
        font-size: 23px;
        font-family: cursive;
        float: right;
        margin-right: 20px;
        box-shadow: 0px 10px 0px 0px lightblue;
        height: 43px;
        display: block;
}

#Title{
       box-sizing: border-box;
       padding-top: 3%;
       text-transform: uppercase;
       text-align: center;
       font-size: 50px;
       letter-spacing: 2px;
       color: transparent;
       background: linear-gradient(220deg, #fd7a00,yellow);
       -webkit-background-clip: text;
       font-family: 'Franklin Gothic Medium';
       cursor: default;
}

h2{
        box-sizing: border-box;
        text-align: center;
        font-size: xx-large;
        color: gold;
        font-family: monospace;
        cursor: default; 

}

        

#searchBar{
       
        background: rgba(0, 0, 0, 0.2);
        margin-left: 39%;  
        border-radius: 25px;
        width: 24.5%;
        height: 65px;
        
}

#search{
        background: none;
        font-size: xx-large;
        border: none;
        outline: none;
        margin-left: 15px;
        position: static;
}

#search::placeholder{
        color: black;
        font-family: monospace;
        

}



#searchButton{

        width: 47px;
        margin-top: 15px;
        background: none;
        background-position: center;
        border: none;
        cursor: pointer;
        
      
}
img{
        width: 30px;
        padding-top: 4px;
        
}


@keyframes animation1 {
        
}




  





  