*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{

        
        background: linear-gradient(90deg,#00f7d6, #038aff);
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: block;
        align-items: center;
        justify-content: center;
        
}

#sidebar{
        margin-top: 20px;
        margin-left: 15px;
        border-radius: 20px;
        box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 220px;
        height: 80%;
        background: linear-gradient(90deg, rgb(12, 170, 255), rgb(119, 243, 221));
        left: -240px;
        transition: 1.5s;
        
}
#sidebar.active{
        left: 0;
}

#sidebar ul li{
        
        list-style: none;
        font-weight: 900;
        font-size: 20px;
        font-family: 'Segoe UI';
        line-height: 90px;
        letter-spacing: 1px;
        text-align: center;

}

#sidebar a{
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;
        cursor: pointer;
        padding: 15px 10px;
}

#sidebar a:hover{
        background-color: rgba(167, 167, 167, 0.8);
        border-radius: 13px;
}

#sidebar a:active{
        cursor: progress;
}

#sidebar .toggle-btn{
        position: absolute;
        top: 30px;
        left: 250px;
}

#sidebar .toggle-btn:hover{
        cursor: pointer;
}

#sidebar button{
        padding: 23px 23px 23px;
        margin-top: 10%;
        margin-left: 5%;
        background: url(../images/settings-.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        cursor: pointer;
        transition: 0.2s all;
}

#sidebar button:hover{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
}

#sidebar button:active{
        cursor: progress;
}

.toggle-btn span{

        width: 35px;
        height: 5px;
        background: black;
        display: block;
        margin-top: 5px;


}

#register:hover {
        cursor: pointer;

}

#register:active{
        cursor: progress;
        transform: translateY(5px);
        box-shadow: 0px 5px 0px 0px rgb(180, 184, 185);
}

#register {
        border: none;
        text-align: center;
        color: royalblue;
        background-color: rgb(36, 218, 250);
        border-radius: 15px;
        font-size: 23px;
        font-family: cursive;
        float: right;
        padding: 0px 10px 0px 10px;
        margin: 15px;
        box-shadow: 0px 10px 0px 0px lightblue;
        height: 43px;
        display: block;
}

#Title{
       box-sizing: border-box;
       padding-top: 3%;
       text-transform: uppercase;
       text-align: center;
       font-size: 50px;
       letter-spacing: 3px;
       color: transparent;
       background: linear-gradient(220deg, #fb5c00,yellow);
       -webkit-background-clip: text;
       font-family: 'Franklin Gothic Medium';
       cursor: default;
       margin-left: 100px;      
}

h2{
        text-align: center;
        font-size: xx-large;
        color: gold;
        font-family: monospace;
        cursor: default; 
        padding: 20px 20px;

}

        

.container1{
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        background: lavenderblush; 
        width: 400px;
        height: 500px;
        border-radius: 15px;
        box-shadow: black ;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
        padding: 15px;
        border: 1px solid grey;
}

.container1 form{
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

}
.container1 input{
        border: none;
        border-radius: 15px;
        outline: none;
        box-shadow: none;
        width: 100%;
        font-size: larger;
        font-weight: 500;
        font-family: cursive;
        padding: 8px 10px;
        background: rgba(202, 202, 202, 0.4);
}
.container1 input::-webkit-search-cancel-button{        
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        margin-left: .4em;
        margin-top: .2em;
        cursor: pointer;
        background-image: url(../images/delete-icon.png);
        background-position: center;
        background-size: cover;
}
.container1 .results-box{
        margin: 20px;
        overflow-y: scroll;
        max-height: 350px;
}
::-webkit-scrollbar{
        width: 1em;
    }
    ::-webkit-scrollbar-track{
        background: rgb(159, 159, 159);
    }
    ::-webkit-scrollbar-thumb{
        background:rgb(225, 225, 225);
        border: 1px solid black;
        border-radius: 3px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: rgb(124, 124, 124);
    }
  
.results-box .result{
        line-height: 2.5;
        font-size: larger;
        border-radius: 15px;
        padding: .5rem;
        margin-top: 40px;
        cursor: pointer;
}
.result a{
        text-decoration: none;
        color: black;
        font-family: Verdana;
}
.results-box .result:hover{
        background: rgba(221, 220, 220, 0.633);
}
.hide {
        display: none;
}




  





  