html{
    background-image: url(mywebsite\images\blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 2px #329d59;
    font-weight: 900;
    font-style: oblique;
    text-transform: uppercase;
    text-shadow: 0 0 20px #329d59;
}


#a-home{
    font-size: x-large;
    font-family: Arial;
    margin-left: 10px;
    float: left;
    text-decoration: #329d59 underline;
    color: black;
    transition:all ease 0.2s;
    
}

@keyframes h1border {
    0% {border: 0%;}
    25% {border: 20%;}
    50% {border: 40%;}
    75% {border: 70%;}
    100% {border: 100%;}
}