body{
        
        background: linear-gradient(90deg,#00f7d6, #038aff);
        background-size: cover;
        
}

#menu:hover{
    background-color: rgb(169, 169, 169);
    opacity: 80%;
    cursor: pointer;

}

#menu{
        display: inline-block;
        background: none;   
        float: left;
        margin-left: 20px;
        width: 2.5%;
        height: 45px;
        background-image: url(images/menuicon.png);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        border-radius: 10px;
        transition: all ease 0.3s;
    
}



#register:hover {
        cursor: pointer;

}

#register:active{
        cursor: progress;
        transform: translateY(5px);
        box-shadow: 0px 5px 0px 0px rgb(180, 184, 185);
}

#register {
        border: none;
        text-align: center;
        color: royalblue;
        background-color: rgb(36, 218, 250);
        border-radius: 15px;
        font-size: 23px;
        font-family: cursive;
        float: right;
        margin-right: 20px;
        box-shadow: 0px 10px 0px 0px lightblue;
        height: 43px;
}

#Title{
       box-sizing: border-box;
       padding-top: 3%;
       text-transform: uppercase;
       text-align: center;
       font-size: 50px;
       letter-spacing: 2px;
       color: transparent;
       background: linear-gradient(220deg, #fd7a00,yellow);
       -webkit-background-clip: text;
       font-family: 'Franklin Gothic Medium';
       cursor: text;
}

h2{
        box-sizing: border-box;
        text-align: center;
        font-size: xx-large;
        color: gold;
        font-family: monospace;
        cursor: text; 

}



#searchBar{
        background-color: grey;
        width: fit-content; 
        margin-left: 39%;  
        opacity: 80%;
        border-radius: 25px;
        width: 24.5%;
        
        
        
}

#search{
        background: none;
        font-size: xx-large;
        border-radius: 10px;
        border: none;
        padding-bottom: 20px;
        outline: none;
        margin-left: 15px;
        
}

#searchButton{

        width: 47px;
        margin-top: 15px;
        background: none;
        background-position: center;
        border: none;

        
      
}
img{
        width: 30px;
        padding-top: 4px;
        
}





::placeholder{
        color: white;
        
}

#a1{
        text-decoration: none;
        color: black;
        background-color: none;
        transition: all ease 0.3s;
    }  
    
#a1:hover{
        color: white;
        background-color: black;
        
}



#info
{
        text-align: center;
        position: static center;
        font-family: monospace;
        margin-top: 15%;
        font-size: xx-large;
        list-style-type: none;
    
}
 
@keyframes animation1 {
        
}




  





  